body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1.title {
  text-align: center;
  font-weight: bold;
}

#content {
  display: flex;
  align-items: start;
  justify-content: center;
  grid-gap: 20px;
}

#canvas_div {
  grid-gap: 10px;
  display: grid;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  grid-gap: 10px;
}

.btn {
  width: 100%;
  padding: 5px;
  border: 1px solid #d8d8d8;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}

.btn.predict {
  background-color: #53d000;
}

.btn.clear {
  background-color: #e01a00;
}

#result_box {
  /* display: flex; */
  flex: 1;
  max-width: 400px;
  /* flex-direction: column;
  align-items: center; */

  grid-gap: 10px;
  display: grid;
}

#chart_box {
  width: 100%;
}

.prediction_text {
  font-size: 1.2em;
  text-align: center;
  padding: 5px;
}

@media (max-width: 1000px){
  #content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

